#workout
  %h3= "Date: #{@exercise.date}" 
  %h4= "Workout Area: #{@exercise.workout}"
  %p= "Mood: #{@exercise.mood}" 
  %p= "Length: #{@exercise.length}"

#exercises
  %h2 Exercises
  = render @exercise.routines

  %h3 Add an exercise
  = render 'routines/form'


= link_to "Back", root_path  
= link_to 'Edit', edit_exercise_path(@exercise) 
= link_to 'Delete', exercise_path, method: :delete, data: { confirm: "Are you sure" }


